*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	outline: none;
}

body {
	position: relative;
  min-width: $phone;
	box-shadow: 0 0 60px 60px rgba(0, 0, 0, 1);
	margin: 0;
	margin-left: auto;
	margin-right: auto;
  padding: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: $white;
	background-color: $black;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 26px;
	}
}

picture {
  display: flex;
  align-items: center;
}

img {
	max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

.visually-hidden {
  @include visually-hidden;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.main-title-wrapper {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $space-light;
    background-image: url('../img/content/strip.png');
    background-repeat: repeat;
    background-position: 8.6% 0;
    background-size: auto 100%;
    z-index: -1;
  }
}

.main-title {
  margin-left: -20px;
	margin-top: 0;
  margin-bottom: 20px;
  padding-right: 40px;
  padding-left: 20px;
  max-width: max-content;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: $turquoise;
	font-size: 22px;
	line-height: 30px;
	font-weight: 900;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $black 90%, transparent);

  @media (min-width: $tablet) {
    margin-left: -30px;
    padding-right: 60px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin-left: -40px;
    margin-bottom: 0;
    padding-right: 160px;
    padding-left: 40px;
    font-size: 45px;
    line-height: 55px;
  }

	&__stroke {
		letter-spacing: 2px;
		color: transparent;
    -webkit-text-stroke: 1px $turquoise;
	}

	&__link {
    position: absolute;
    top: 50%;
    right: 20px;
		width: 60px;
    height: 60px;
    margin-top: -30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
		border-radius: 50%;
    border: 1px solid $turquoise;
    animation: pulse-soso 1.5s infinite alternate;
		background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 3px 3px $black;

    svg {
      transform: rotate(45deg);
      transition: transform 0.05s;
    }

		svg path {
      transition: fill 0.1s;
    }

    &:active {
      transform: scale(0.96);
      animation: none;
		  border: 2px solid $turquoise;
    }

    &:active svg{
      transform: unset;
    }

    &:active svg path {
      fill: $turquoise;
    }

    @media (min-width: $tablet) {
      width: 76px;
      height: 76px;
      right: 30px;
      margin-top: -38px;
    }

    @media (min-width: $desktop) {
      top: 50%;
      right: 40px;
      width: 90px;
      height: 90px;
      margin-top: -45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-shadow: unset;
      transition: transform 0.05s, box-shadow 0.3s;

      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 204, 255, 1);
      }

      &:active {
        transform: scale(0.96);
        animation: none;
      }
    }
	}

	&__description {
		position: relative;
		z-index: 0;
    margin-top: 0;
    font-size: 14px;
		margin-bottom: 20px;
		color: rgba(109, 109, 109, 1);
    text-align: left;
    transform: translateZ(0);

    @media (min-width: $desktop) {
      text-align: right;
      font-size: unset;
    }
  }
}

@keyframes yo_navi {
	0% { transform: translateX(-2200px); }
	50% { transform: translateX(0); }
}

@keyframes pulse {
	0% { border-color: rgba(0, 204, 255, 1) }
	100% { border-color: rgba(0, 204, 255, 0.1); }
}

@keyframes pulse-soso {
	0% { border-color: rgba(0, 204, 255, 1); }
	100% { border-color: rgba(0, 204, 255, 0.5); }
}

@keyframes pulse-color {
	0% { color: rgba(0, 204, 255, 1); }
	100% { color: rgba(0, 204, 255, 0.5); }
}

@keyframes glide {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
