*,
*::after,
*::before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
  min-width: $phone;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: Roboto, Arial, sans-serif;
	color: $white;
	background-color: $space;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 26px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.page-main {
	overflow-x: hidden;
}

.visually-hidden {
  @include visually-hidden;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.main-title {
	margin-top: 0;
	margin-bottom: 0;
	flex: 0 0;
	font-family: Robotobold, Arial, sans-serif;
	color: $turquoise;
	font-size: 20px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;

	&__stroke {
		font-size: 28px;
		line-height: 40px;
		letter-spacing: 2px;
		color: transparent;
		-webkit-text-stroke: 1px $turquoise;
	}

	&__link {
		display: block;
		flex: 0 0 60px;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 2px solid $turquoise;
		background-image: url('../../img/content/arrow-small.svg');
		background-repeat: no-repeat;
		background-position: center center;
		animation: pulse-soso 1.5s infinite alternate;
	}

	&__description {
		margin-top: 0;
		margin-bottom: 30px;
		color: rgba(109, 109, 109, 0.4);
	}
}

@keyframes pulse {
	0% { border-color: $turquoise; }
	100% { border-color: rgba(0, 204, 255, 0.1); }
}

@keyframes pulse-soso {
	0% { border-color: $turquoise; }
	100% { border-color: rgba(0, 204, 255, 0.6); }
}

@keyframes pulse-color {
	0% { color: $turquoise; }
	100% { color: rgba(0, 204, 255, 0.6); }
}

@keyframes slider-show {
	0% { transform: translateX(500px); }
	100% { transform: translateX(0) }
}

@keyframes slider-show-reverse {
	0% { transform: translateX(-500px); }
	100% { transform: translateX(0) }
}

@keyframes slider-hide {
	0% { transform: translateX(0); }
	100% { transform: translateX(-500px) }
}

.anime-pulse {
	animation: pulse 1.5s infinite alternate;
}
