$custom-track-color: #0000;
$custom-thumb-color: $turquoise;
$custom-width: thin;
$webkit-scrollbar-thumb-hover: $turquoise;
$webkit-scrollbar-track-hover: #0000;
$webkit-scrollbar-width-height: 3px;
$webkit-scrollbar-border-radius: 3px;

*:not(select) {
  scrollbar-color: $custom-thumb-color $custom-track-color !important;
  scrollbar-width: $custom-width !important;
}
/* Chrome and derivatives*/
::-webkit-scrollbar {
  max-width: $webkit-scrollbar-width-height !important;
  max-height: $webkit-scrollbar-width-height !important;
  background: $custom-track-color !important;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: $custom-track-color !important;
}
::-webkit-scrollbar-thumb {
  background: $custom-thumb-color !important;
  border-radius: $webkit-scrollbar-border-radius !important;
}
::-webkit-scrollbar-corner:hover,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track-piece:hover {
  background: $webkit-scrollbar-track-hover !important;
}
::-webkit-scrollbar-thumb:hover {
  background: $webkit-scrollbar-thumb-hover !important;
}
