$white: #ffffff;
$black: #000000;
$space: #000c0c;
$space-light: #001616;
$turquoise: #00ccff;

// sizes
$phone: 320px;
$phone-max: 767px;
$tablet: 768px;
$tablet-max: 1279px;
$desktop: 1280px;

$phones-paddings: 20px;
$tablets-paddings: 30px;
$desktops-paddings: 40px;
