.digital-release {

  padding-top: 40px;

  @media (min-width: $desktop) {
    box-shadow: none;
    padding-bottom: 0;
  }

	&__title-wrapper {
    padding-left: $phones-paddings;
    padding-right: $phones-paddings;

    @media (min-width: $tablet) {
      padding-left: $tablets-paddings;
      padding-right: $tablets-paddings;
    }

    @media (min-width: $desktop) {
      padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;
      margin-bottom: 20px;
    }
  }

  &__title-description {
    padding-left: $phones-paddings;
    padding-right: $phones-paddings;

    @media (min-width: $tablet) {
      padding-left: $tablets-paddings;
      padding-right: $tablets-paddings;
    }

    @media (min-width: $desktop) {
      padding-left: $desktops-paddings;
		  padding-right: $desktops-paddings;
    }
  }

	&__list {
		position: relative;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
    list-style: none;

		&-wrapper {
      padding: 20px;
      background-image: linear-gradient(to bottom, $black, $space-light, $black);

      @media (min-width: $desktop) {
        display: none;
      }
		}
	}

	&__item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;

		&-link {
			line-height: 21px;
			text-decoration: none;
			color: $white;
			text-transform: uppercase;
			text-shadow: 0 0 3px $black;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 100vw;
			height: 1px;
			background-color: $black;
		}

		&::after {
			right: 0;
		}

		&:first-child {
			&::before,
			&::after {
				display: none;
			}
		}
	}

	&__imdb {
		margin-left: 15px;
		flex: 0 0 65px;
		min-width: 65px;
		text-align: center;
		font-weight: 700;
		color: $turquoise;
  }

  .splide {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 204, 255, 1);
    background-image: linear-gradient(to bottom, $black, $space-light);

    &__arrows {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      display: none;

      @media (min-width: $desktop) {
        display: unset;
      }
    }

    &__arrow {
      position: absolute;
      z-index: 1;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      width: 45px;
      height: 100%;
      background-color: $black;
      box-shadow: 0 0 3px 3px $black;
      border: none;
      opacity: 0.8;
      transition: opacity 0.2s;

      svg {
        width: 40px;
        height: 40px;
        fill: $white;
        transition: fill 0.1s;
        pointer-events: none;
      }

      &:hover  {
        opacity: 1;
      }

      &:active svg {
        fill: $turquoise;
      }

      &--prev {
        left: 0;

        svg {
          left: 40px;
          transform: rotate(180deg);
        }
      }

      &--next {
        right: 0;

        svg {
          right: 40px;
        }
      }
    }

    &__track {
      padding-top: 45px;
      padding-bottom: 15px;

      @media (min-width: $desktop) {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    &__list {
      display: flex;
      flex: none;
      flex-flow: row nowrap;
    }

    &__slide {
      flex: none;
    }

    &__pagination {
      padding-left: 20px !important;
      padding-right: 20px;
      position: absolute;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      top: 10px !important;
      padding-left: 0;
      width: 100%;

      @media (min-width: 600px) {
        justify-content: center;
      }

      &__page {
        height: 3px;
        border-radius: 15px;
        flex: none;
        align-self: center;
        background-color: $turquoise;
        border: 1px solid $turquoise;
        opacity: 0.3;
        transition: opacity 0.2s;

        @media (min-width: 600px) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      .is-active {
        opacity: 1;
      }
    }
  }

  &__poster-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;

    @media (min-width: $desktop) {
      transition: transform 0.1s;

      &:hover {
        transform: scale(1.1);

        .digital-release__poster {
          filter: blur(3px) brightness(25%);
        }

        .digital-release__description {
          opacity: 1;
        }
      }
    }

  }

  &__poster-link {
    display: block;

  }

  &__poster {
    pointer-events: none;
    border-radius: 15px;
    box-shadow: 0 3px 3px 1px $black;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $desktop) {
      transition: filter 0.2s;
    }
  }

  &__description {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &__name {
    text-align: center;
    flex: none;
    color: $white;
    text-decoration: none;
    word-wrap: break-word;
    text-shadow: 0 0 15px $black;
  }

  &__trailer-play {
    flex: none;
		width: 80px;
		height: 80px;
    padding: 0;
    display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		border: none;
		border: 1px solid $turquoise;
    border-radius: 50%;
    animation: pulse 1.5s infinite alternate;
		transition: background-color 0.3s, box-shadow 0.3s;

		svg {
			margin-left: 25px;
			width: 45px;
			height: 45px;
			fill: $white;
      pointer-events: none;
    }

    &:hover {
			background-color: rgba(0, 0, 0, 1);
      box-shadow: 0 0 6px 1px rgba(0, 204, 255, 1);
    }

    &:active {
      border: 2px solid $turquoise;
      animation: none;
    }

		&:active svg {
			fill: $turquoise;
		}
	}

  &__rating	{
    flex-shrink: 0;
    font-weight: 700;
    color: $turquoise;
		text-shadow: 0 0 15px $black;
  }
}
