.extended-films {

	&__title-wrapper {
    padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		display: flex;
		justify-content: space-between;
		align-items: center;
  }

  &__title-description {
    padding-left: $phones-paddings;
		padding-right: $phones-paddings;
  }

	&__slider {
		// position: relative;
		// z-index: 1;
		// max-width: 620px;
		// margin-left: auto;
		// margin-right: auto;

		// @media (min-width: 360px) {
		// 	padding-left: 10px;
		// 	padding-right: 10px;
		// 	border-radius: 20px;
		// 	background-color: $black;
		// 	border: 1px solid rgba(0, 204, 255, 0.7);
    // }

    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
    background-color: $space-light;
    border-top: 1px solid rgba(0, 204, 255, 0.7);
    border-bottom: 1px solid rgba(0, 204, 255, 0.7);

		&-container {
      box-shadow: 0 0 5px 5px #000;
		}

		.swiper-wrapper {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;
    }
	}

	&__poster-wrapper {
		position: relative;
	}

	&__poster-link {
		position: relative;
		display: block;
	}

	&__poster {
		pointer-events: none;
	}

	&__trailer-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		height: 80px;
		padding: 0;
		display: none;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		border: none;
		overflow: hidden;
		border: 2px solid $turquoise;
		box-shadow: 0 0 3px 3px rgba(0, 0, 0, 1);
		border-radius: 50%;
		animation: pulse 1.5s infinite alternate;
		animation-delay: 1.5s;
		transition: all 0.2s;

		svg {
			margin-left: 25px;
			width: 60%;
			height: 60%;
			fill: $white;
			transition: fill 0.2s;
			pointer-events: none;
		}

		&:active {
			background-color: rgba(0, 0, 0, 1);
			box-shadow: 0 0 3px 1px rgba(0, 204, 255, 1);
			animation: none;
		}

		&:active svg {
			fill: $turquoise;
		}
	}

	&__description {
		display: none;
		align-items: flex-start;
		justify-content: space-around;
		margin-bottom: 15px;

		@media (min-width: 360px) {
			top: 9px;
			justify-content: space-around;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__name {
		margin-right: auto;
		color: $white;
		text-decoration: none;
		text-align: left;
	}

	&__year	{
		flex: 0 0 85px;
		width: 85px;
		text-align: right;
		font-weight: 700;
		color: $turquoise;
	}
}
