.famous-movies {

	&__title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
	}

	&__title-description {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		margin-bottom: 30px;
	}

	&__slider-wrapper {
		padding-bottom: 5px;
	}

	&__slider {
		position: relative;
		overflow: hidden;
		padding-top: 50px;
		user-select: none;
	}

	&__control-block {
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__control-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		padding: 10px;
		background-color: $space-light;
		border-radius: 40px;
		box-shadow: 0 0 3px 3px rgba(0,22,22,1);
	}

	&__slider-control,
	&__slider-trailer-play {
		width: 60px;
		height: 60px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: none;
		overflow: hidden;
		border: 2px solid $turquoise;
		border-radius: 50%;
		animation: pulse 1.5s infinite alternate;

		svg {
			width: 60%;
			height: 60%;
			fill: $white;
			transition: fill 0.2s;
			pointer-events: none;
		}

		&:active svg {
			fill: $turquoise;
		}
	}

	&__slider-trailer-play {
		animation-delay: 1.5s;

		svg {
			margin-left: 20px;
		}
	}

	&__slider-list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		display: grid;
		grid-template-columns: repeat(6, 100%);
		list-style: none;
		transition: transform 0.6s ease;
	}

	&__poster-wrapper {
		position: relative;
		margin-bottom: 15px;
	}

	&__poster-link {
		display: block;
	}

	&__poster {
		pointer-events: none;
	}

	&__description {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
	}

	&__name {
		flex: 0 0 65%;
		max-width: 65%;
		color: $white;
		text-decoration: none;
		text-align: left;
		font-size: 16px;
		line-height: 24px;

		@media (min-width: 370px) {
			font-size: 20px;
		}
	}

	&__year	{
		flex: 0 0 40px;
		max-width: 40px;
		margin-top: 5px;
		font-size: 16px;
		line-height: 20px;
		text-align: left;
		font-weight: 400;
		color: $turquoise;
	}

	&__rating {
		flex: 0 0 65px;
		max-width: 65px;
		margin-top: 5px;
		color: $turquoise;
		text-align: right;
	}

	&__dots-wrapper {
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		width: 100%;
	}

	&__dot {
		width: 15px;
		height: 15px;
		border: 1px solid $turquoise;
		border-radius: 50%;
		transition: background-color 0.3s;

		&--active {
			background-color: $turquoise;
		}
	}
}
