.famous-movies {
  position: relative;

  @media (max-width: 600px) {
    box-shadow: 0 0 60px 60px $space-light;
    padding-top: 30px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    box-shadow: none;
  }

	&__title-wrapper {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;

    @media (min-width: $tablet) {
      padding-left: $tablets-paddings;
	  	padding-right: $tablets-paddings;
    }

    @media (min-width: $desktop) {
      padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;
      margin-bottom: 20px;
    }
	}

	&__title-description {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;

    @media (min-width: $tablet) {
      padding-left: $tablets-paddings;
	  	padding-right: $tablets-paddings;
    }

    @media (min-width: $desktop) {
      padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;
    }
	}

  .splide {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 204, 255, 1);

    @media (min-width: 600px) {
      background-image: linear-gradient(to bottom, $black, $space-light);
    }

    &__arrows {
      overflow: hidden;
      position: absolute;
      height: 100%;
      width: 100%;
      display: none;

      @media (min-width: $desktop) {
        display: unset;
      }
    }

    &__arrow {
      position: absolute;
      z-index: 1;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      width: 45px;
      height: 100%;
      background-color: $black;
      box-shadow: 0 0 3px 3px $black;
      border: none;
      opacity: 0.8;
      transition: opacity 0.2s;

      @media (min-width: $desktop) {
        display: block;
      }

      svg {
        width: 40px;
        height: 40px;
        fill: $white;
        transition: fill 0.1s;
        pointer-events: none;
      }

      &:hover  {
        opacity: 1;
      }

      &:active svg {
        fill: $turquoise;
      }

      &--prev {
        left: 0;

        svg {
          transform: rotate(180deg);
        }
      }

      &--next {
        right: 0;
      }
    }

		&__track {
      padding-top: 50px;
      padding-bottom: 15px;

      @media (min-width: 600px) {
        padding-top: 70px;
        padding-bottom: 25px;
      }

      @media (min-width: $desktop) {
        padding-top: 25px;
      }
    }

    &__slide {
      border-radius: 15px;
      background-color: $black;

      @media (min-width: 600px) {
        border: 1px solid $turquoise;
        padding: 20px;
        padding-bottom: 20px;
      }

      @media (min-width: $desktop) {
        border: none;
        padding: 0;
        background-color: unset;
      }
    }

    &__pagination {
      padding-left: 20px !important;
      padding-right: 20px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 10px !important;
      padding-left: 0;
      width: 100%;

      @media (min-width: 600px) {
        justify-content: center;
      }

      &__page {
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: 1px solid $turquoise;
        border-radius: 50%;
        transition: background-color 0.2s;

        @media (min-width: 600px) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      .is-active {
        background-color: $turquoise;
      }
    }
	}

	&__poster-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    max-width: 600px;
    transition: 0.1s;

    @media (min-width: $desktop) {
      margin-left: auto;
      margin-right: auto;

      &:hover {
         transform: scale(1.05);

        .famous-movies__poster {
          filter: saturate(0%) blur(3px) brightness(25%);
        }

        .famous-movies__description {
          opacity: 1;
        }

        .famous-movies__trailer-play {
          opacity: 1;
        }
      }
    }
	}

	&__poster-link {
    display: block;
    position: relative;
	}

	&__poster {
    pointer-events: none;
    box-shadow: 0 3px 3px 1px $black;

    @media (min-width: $desktop) {
      transition: filter 0.2s;
    }
	}

	&__description {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    min-height: 60px;

    @media (min-width: 600px) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    @media (min-width: $desktop) {
      position: absolute;
      height: 55%;
      top: 45%;
      left: 0;
      padding-bottom: 20px;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.2s;
    }
	}

	&__name {
    text-align: center;
    flex: none;
    color: $white;
    text-decoration: none;
    word-wrap: break-word;
    text-shadow: 0 0 15px $black;

    @media (max-width: $tablet-max) {
      width: 70%;
      text-align: left;
    }
  }

  &__trailer-play {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -40px;
    flex: none;
		width: 80px;
		height: 80px;
    padding: 0;
    display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		border: none;
		border: 1px solid $turquoise;
    border-radius: 50%;
    opacity: 0;
    animation: pulse 1.5s infinite alternate;
    transition: background-color 0.05s;

    @media (max-width: $tablet-max) {
      top: 50%;
      margin-left: -40px;
      margin-top: -40px;
      box-shadow: 0 0 3px 3px $black;
      opacity: 1;

      svg {
        margin-left: 25px;
      }
    }

		svg {
			margin-left: 25px;
			width: 45px;
			height: 45px;
			fill: $white;
      pointer-events: none;
    }

    @media (min-width: $desktop) {
      transition: background-color 0.3s, box-shadow 0.3s;

      &:hover {
        background-color: rgba(0, 0, 0, 1);
        box-shadow: 0 0 6px 1px rgba(0, 204, 255, 1);
      }
    }

    &:active {
      background-color: rgba(0, 0, 0, 1);
      border: 2px solid $turquoise;
      animation: none;
    }

		&:active svg {
			fill: $turquoise;
		}
	}

	&__rating	{
    flex: none;
    color: $turquoise;
		font-weight: 700;
    text-shadow: 0 0 15px $black;

    @media (max-width: $tablet-max) {
    }
	}
}
