.famous-movies {

	&__title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
	}

	&__title-description {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		margin-bottom: 30px;
	}

	&__slider {
		position: relative;
		overflow: hidden;
		padding-top: 50px;
		user-select: none;
	}

	&__control-block {
		position: relative;
		top: -15px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__control-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		background-color: $space-light;
		border-radius: 40px;
	}

	&__slider-control {
		flex: 0 0 60px;
		max-width: 60px;
		height: 60px;
		padding: 0;
		background-color: transparent;
		border: none;
		border: 2px solid $turquoise;
		border-radius: 50%;

		.slider-control-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			svg {
				width: 60%;
				height: 60%;
				fill: $white;
				overflow: visible;

				polygon, path {
					transition: all 0.2s;
				}
				&:active polygon, &:active path {
					transition: all 0.2s;
					fill: $turquoise;
				}
				&:active .arrow {
					animation: arrow-anim 0.2s;
				}

				@keyframes arrow-anim {
					0% {
						opacity: 1;
						transform: translateX(0);
					}
					5% {
						transform: translateX(-0.1rem);
					}
					100% {
						transform: translateX(1rem);
						opacity: 0;
					}
				}
			}
		}
	}

	&__slider-trailer-play {
		flex: 0 0 60px;
		max-width: 60px;
		height: 60px;
		padding: 0;
		background-color: transparent;
		border: none;
		overflow: hidden;
		border: 2px solid $turquoise;
		border-radius: 50%;

		svg	{
			margin-left: 20px;
		}

		.slider-control-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			svg {
				width: 60%;
				height: 60%;
				fill: $white;
				overflow: visible;

				path {
					transition: fill 0.2s;
				}
				&:active path {
					fill: $turquoise;
				}
			}
		}
	}

	&__slider-list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		display: grid;
		grid-template-columns: repeat(6, 100%);
		grid-column-gap: 50px;
		scroll-snap-type: x mandatory;
		overflow-x: scroll;
		scroll-behavior: smooth;
		scrollbar-width: none;
		list-style: none;

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&__slider-item {
		scroll-snap-align: center;
	}

	&__poster-wrapper {
		position: relative;
		margin-bottom: 15px;
	}

	&__poster-link {
		display: block;
	}

	&__poster {
		pointer-events: none;
	}

	&__description {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
	}

	&__name {
		flex: 0 0 65%;
		max-width: 65%;
		color: $white;
		text-decoration: none;
		text-align: left;
		font-size: 20px;
		line-height: 24px;
	}

	&__year	{
		flex: 0 0 40px;
		max-width: 40px;
		margin-top: 5px;
		font-size: 16px;
		line-height: 20px;
		text-align: left;
		font-weight: 400;
		color: $turquoise;
	}

	&__rating {
		flex: 0 0 65px;
		max-width: 65px;
		margin-top: 5px;
		color: $turquoise;
		text-align: right;
	}

	&__dots-wrapper {
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		width: 100%;
	}

	&__dot {
		width: 15px;
		height: 15px;
		border: 1px solid $turquoise;
		border-radius: 50%;

		&--active {
			background-color: $turquoise;
		}
	}
}
