.movie-news {
  padding-top: 60px;

  @media (max-width: 600px) {
    margin-bottom: 30px;
  }

  @media (min-width: 600px) {
    background-image: linear-gradient(to bottom, $black, $space-light, $black);
  }


	&__header {
		padding-left: $phones-paddings;
    padding-right: $phones-paddings;
    margin-bottom: 30px;

    @media (min-width: $desktop) {
      padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;
    }
	}

	&__title {
    margin-bottom: 25px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
		font-size: 24px;
		box-shadow: none;
    background-color: unset;
    text-align: center;
    background-image: none !important;

    @media (min-width: $desktop) {
      font-size: 55px;
      line-height: 65px;
      margin-bottom: 20px;
    }

		.main-title__stroke {
      font-size: 28px;
		}
	}

	&__nav {
		position: relative;
	}

	&__nav-list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

    @media (min-width: $tablet) {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__nav-item {
    justify-self: center;
    text-decoration: underline;

    &:first-child {
      justify-self: start;
    }

    &:last-child {
      justify-self: end;
    }
  }

	&__nav-link {
		color: $turquoise;
		text-decoration: none;
    font-size: 13px;

    @media (min-width: $desktop) {
      font-size: 18px;
      line-height: 24px;
      transition: color 0.2s;

      &:hover {
		    color: $turquoise;
      }
    }
	}

	.splide {
		position: relative;
    padding-top: 50px;

    @media (min-width: 600px) {
      padding-top: 70px;
    }

    @media (min-width: $desktop) {
      padding-top: 20px;
      padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;
    }

		&__track {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 0;
      list-style: none;
    }

    &__list {

      @media (min-width: $desktop) {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
      }
    }

    &__slide {
      position: relative;
      z-index: 1;
      padding-bottom: 40px;
      box-shadow: 0 0 3px 1px $black;
      border-radius: 15px;
      background-color: $black;

      @media (min-width: 600px) {
        border: 1px solid $turquoise;
        padding: 20px;
        padding-bottom: 40px;
        margin-bottom: 50px;
      }
    }

    &__pagination {
      display: flex;
      flex-wrap: nowrap;
      padding-left: 20px !important;
      padding-right: 20px;
      position: absolute;
      justify-content: space-between;
      top: 10px !important;
      padding-left: 0;
      width: 100%;

      @media (min-width: 600px) {
        justify-content: center;
      }

      &__page {
        height: 3px;
        border-radius: 15px;
        flex: none;
        align-self: center;
        background-color: $turquoise;
        border: 1px solid $turquoise;
        opacity: 0.3;
        transition: opacity 0.2s;

        @media (min-width: 600px) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      .is-active {
        opacity: 1;
      }
    }
	}

	&__date {
		display: block;
		margin-top: 15px;
    font-size: 14px;

    @media (max-width: 600px) {
      padding-left: $phones-paddings;
      padding-right: $phones-paddings;
    }
	}

	&__text	{
		min-height: 80px;
		position: relative;
    font-size: 14px;

    @media (max-width: 600px) {
      padding-left: $phones-paddings;
      padding-right: $phones-paddings;
    }
	}

	&__text-link {
		display: block;
		color: $turquoise;
		text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
	}
}
