.page-footer {
	padding-top: 35px;
	padding-left: $phones-paddings;
	padding-right: $phones-paddings;
	padding-bottom: 45px;
	background-color: $space-light;
	box-shadow: 0px -20px 60px 60px #000000,
							inset 0 -5px 5px 5px #000000;


	&__logo-wrapper {
		margin-bottom: 35px;
		text-align: center;
	}

	&__nav-list {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		display: flex;
		justify-content: space-between;
		list-style: none;
	}

	&__nav-link {
		color: $turquoise;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 16px;
	}
}
