.page-main {
	overflow-x: hidden;
	box-shadow: 0 0 60px 60px $black;

	&__extended-films {
		padding-top: 60px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
	}

	&__digital-release {
		padding-top: 40px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		padding-bottom: 30px;
		box-shadow: inset 0 -30px 35px 0 #000000;
	}

	&__top-movies {
		padding-top: 50px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		padding-bottom: 50px;
	}

	&__famous-movies {
		padding-top: 30px;
		box-shadow: 0 0 60px 60px $space-light;
	}

	&__movie-news {
		padding-top: 60px;
		box-shadow: 0 0 60px 60px $black;
	}
}
