.page-main {

	&__extended-films {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		margin-bottom: 35px;
	}

	&__digital-release {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
	}

	&__top-movies {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		padding-top: 35px;
		padding-bottom: 35px;
		margin-bottom: 20px;
	}

	&__famous-movies {
		margin-bottom: 25px;
	}

	&__movie-news {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		margin-bottom: 35px;
	}
}
