.page-main {

	&__extended-films {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		margin-bottom: 40px;
	}

	&__digital-release {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		margin-bottom: 40px;
	}
}
