.page-header {
  position: relative;

  @media (max-width: $tablet-max) {
    margin-bottom: 70px;
  }

	&__top {
		position: fixed;
		top: 0;
		z-index: 15;
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 60px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		background-color: $space-light;
		border-bottom: 1px solid $black;
		box-shadow: 0 0 3px 3px rgba(0,0,0,1);


		@media (min-width: $tablet) {
			padding-left: $tablets-paddings;
      padding-right: $tablets-paddings;
		}

		@media (min-width: $desktop) {
			padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;
      max-width: 1440px;
		}
	}

	&__logo-link {
		display: flex;
		align-items: center;
		margin-right: 20px;
		height: 60px;

		svg {
			width: 115px;
      height: 16px;

      path {
        transition: fill 0.1s;
      }
    }

    &:active svg path {
		  fill: $turquoise;
    }

    @media (min-width: $desktop) {

      &:hover svg path {
        fill: $turquoise;
      }
		}
	}

	&__nav {
		order: -1;

		&-button {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			left: -12px;
			width: 50px;
			height: 60px;
			padding: 0;
			justify-self: end;
			border: none;
			background-color: transparent;
			user-select: none;
      outline: transparent;

			&-burger {
				position: relative;
				display: inline-block;
				width: 25px;
				height: 2px;
				background: $white;
				transition: background .2s .4s;

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background: $white;
					transform-origin: 50% 50%;
					transition: top .2s .2s, transform .2s;
				}

				&::before {
					top: 10px;
				}

				&::after {
					top: -10px;
        }
      }

			&--open {

				.page-header__nav-button-burger {
					background: 0 0;
					transition: background .2s 0;

					&::before,
					&::after {
						top: 0;
						transition: top .2s, transform .2s .4s, background 3s;
					}

					&::before {
            transform: rotate3d(0,0,1,45deg);
            background: $turquoise;
					}

					&::after {
            transform: rotate3d(0,0,1,-45deg);
            background: $turquoise;
					}
				}
			}
		}

		&-list {
			position: absolute;
			display: none;
			top: 61px;
			left: 0;
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;
      width: 100%;

      &--show {
				display: block;
				animation-name: yo_navi;
				animation-duration: .4s;
			}

      @media (min-width: 1024px) {
			  top: 60px;
        background-color: $space;
        border-bottom: 1px solid $black;

        &--show {
          display: flex;
				  animation: none;
        }
      }
		}

		&-item {
			background-color: $space-light;
      border-bottom: 1px solid $black;

      @media (min-width: 1024px) {
        border-bottom: none;
      }
		}

		&-link {
			display: block;
			padding-left: 70px;
			padding-top: 15px;
			padding-bottom: 15px;
			color: $white;
			font-weight: 400;
			text-decoration: none;
			text-transform: uppercase;
      background-color: $space;
      transition: color 0.2s;

      @media (min-width: 1024px) {
        padding-left: 80px;
      }

      @media (min-width: $desktop) {
        padding-left: 90px;

        &:hover {
          color: $turquoise;
        }
      }
		}
	}

	&__search-button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		width: 60px;
		height: 60px;
		padding: 0;
		background-color: transparent;
		border: none;
    outline: transparent;

    svg path {
      transition: fill  0.1s;
    }

    @media (min-width: 1024px) {
      display: none;
		}

		&--open {
			position: absolute;
			right: 0;
			z-index: 2;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 18px;
				width: 23px;
				height: 2px;
				background-color: $turquoise;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}

			svg {
        display: none;
			}
		}
	}

	&__search-wrapper {
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		width: 100%;
		height: 60px;
		background-color: $space-light;

		&--open {
			display: block;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      position: static;
		}
	}

	&__search-form {
		position: relative;
		display: flex;
    align-items: center;

    @media (min-width: 1024px) {
      width: 90%;
    }

		&-field {
			user-select: text;
			padding: 0;
			padding-left: 42px;
			padding-right: 42px;
			flex-grow: 1;
			height: 60px;
			background-color: transparent;
			border: none;
      outline: transparent;
      color: $white;

      @media (min-width: 1024px) {
        background-color: $space;
        padding-left: 20px;
        padding-right: 60px;
        height: 40px;
        border-radius: 35px;
        color: $white;
      }
		}

		&-button {
			position: absolute;
			left: -20px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			padding: 0;
			background-color: transparent;
      border: none;

      @media (min-width: 1024px) {
        left: unset;
        right: 0;
      }

      @media (min-width: $desktop) {
        svg path {
          transition: 0.2s;
        }

        &:hover svg path {
          fill: $turquoise;
        }
      }
		}
	}

	&__login-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;
		margin-right: -5px;
		height: 60px;
		text-transform: uppercase;
		background-color: transparent;
    border: none;
    transition: color 0.1s;

    &:active {
      color: $turquoise;
    }

    @media (min-width: $desktop) {
      transition: color 0.2s;

      &:hover {
        color: $turquoise;
      }
		}
	}

	&__bottom {
    position: relative;
    margin-top: 61px;
    background-color: $black;

    @media (min-width: $desktop) {
      filter: blur(3px);
      height: 370px;
      background-image: url('../img/content/header-banner-desktop.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: unset;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, $black, transparent);
      }
    }
  }

  &__slider {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, $black, transparent);
    }

    @media (min-width: $desktop) {
      display: none;
    }
  }

	&__trailer-play {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
		padding: 20px;
		border-radius: 35px;
		display: flex;
		justify-content: center;
    align-items: center;
    font-weight: 400;
		text-transform: uppercase;
		background-color: $black;
    border: 1px solid $turquoise;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 1);

    @media (max-width: $tablet-max) {
      animation: pulse-soso 1.5s infinite alternate;

      &:active {
        color: $turquoise;
        transform: translate(-50%, -50%) scale(0.96);
        border: 2px solid $turquoise;
        animation: none;
      }
    }

    @media (min-width: $desktop) {
      position: absolute;
      top: 40%;
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      font-size: 100px;
      line-height: 110px;
      font-weight: 900;
		  background-color: unset;
      box-shadow: none;
      border: none;
      letter-spacing: 2px;
      color: rgba(0, 12, 12, 0.5);
      -webkit-text-stroke: 1px $turquoise;
      transition: color 0.3s, text-shadow 0.3ms;

      &:hover {
        color: rgba(0, 12, 12, 1);
		    text-shadow: 0 -3px 3px $black;
      }

      &:active {
        -webkit-text-stroke: 1.5px $turquoise;
      }
		}
	}
}
