.page-footer {
  position: relative;
	padding-top: 30px;
	padding-left: $phones-paddings;
	padding-right: $phones-paddings;
  padding-bottom: 25px;
  background-image: linear-gradient(to bottom, $black, $space-light);

  @media (min-width: $desktop) {
    padding-left: $desktops-paddings;
    padding-right: $desktops-paddings;
  }

	&__logo-wrapper {
		margin-bottom: 35px;
		text-align: center;
  }

  &__logo-link {

    svg path {
      transition: fill 0.2s;
    }

    &:hover svg path,
    &:active svg path {
		  fill: $turquoise;
		}
  }

  &__like {
    display: flex;
    justify-content: center;
    align-items: center;

    &-tap {
      padding: 12px 10px;
      // min-width: 110px;
      min-height: 60px;
      font-family: inherit;
      font-weight: bold;
      font-size: 16px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-image: url('../img/content/heart.svg');
      background-size: 30px 30px;
      background-position: left center;
      opacity: 0.7;
      cursor: pointer;

      &:focus {
        opacity: 1;
      }

      @media (min-width: $desktop) {
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }
      }
    }

    &--added {
      background-image: url('../img/content/heart-fill.svg');
    }

    &-number {
      color: $turquoise;
      margin-left: 30px;
      font-size: 32px;
      line-height: 40px;
    }
  }
}
