.page-header {

	&__top {
		position: fixed;
		z-index: 15;
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 600px;
		min-height: 60px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		background-color: $space-light;
		border-bottom: 1px solid $black;
		box-shadow: 0px 0px 3px 3px rgba(0,0,0,1);


		@media (min-width: $tablet) {
			padding-left: $tablets-paddings;
			padding-right: $tablets-paddings;
		}

		@media (min-width: $desktop) {
			padding-left: $desktops-paddings;
			padding-right: $desktops-paddings;
		}
	}

	&__logo-link {
		display: flex;
		align-items: center;
		margin-right: 20px;
		height: 60px;

		svg {
			width: 115px;
			height: 16px;
		}
	}

	&__nav {
		order: -1;

		&-button {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			left: -12px;
			width: 50px;
			height: 60px;
			padding: 0;
			justify-self: end;
			border: none;
			background-color: transparent;
			user-select: none;
			outline: transparent;

			&-text {
				display: none;
			}

			&-burger {
				position: relative;
				display: inline-block;
				width: 25px;
				height: 2px;
				background: $white;
				transition: background .2s .4s;

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background: $white;
					transform-origin: 50% 50%;
					transition: top .2s .2s, transform .2s;
				}

				&::before {
					top: 10px;
				}

				&::after {
					top: -10px;
				}
			}

			&--open {

				.page-header__nav-button-burger {
					background: 0 0;
					transition: background .2s 0;

					&::before,
					&::after {
						top: 0;
						transition: top .2s, transform .2s .4s;
					}

					&::before {
						transform: rotate3d(0,0,1,45deg);
					}

					&::after {
						transform: rotate3d(0,0,1,-45deg);
					}
				}
			}
		}

		&-list {
			position: fixed;
			display: none;
			top: 61px;
			left: 0;
			@include reset-list-style;
			width: 100%;
			background-color: $space-light;

			&--show {
				display: block;
				animation-name: yo_navi;
				animation-duration: .4s;
			}
		}

		&-item {
			background-color: $space-light;
			border-bottom: 1px solid $black;
		}

		&-link {
			display: block;
			padding-left: 70px;
			padding-top: 15px;
			padding-bottom: 15px;
			color: $white;
			font-family: Roboto, Arial, sans-serif;
			font-size: 16px;
			line-height: 20px;
			text-decoration: none;
			text-transform: uppercase;
			background-color: $space-light;
		}
	}

	&__search-button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		width: 60px;
		height: 60px;
		padding: 0;
		background-color: transparent;
		border: none;
		outline: transparent;

		&--open {
			position: absolute;
			right: 0;
			z-index: 2;

			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 18px;
				width: 23px;
				height: 2px;
				background-color: $white;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}

			svg {
				display: none;
			}
		}
	}

	&__search-wrapper {
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		width: 100%;
		height: 60px;
		background-color: $space-light;

		&--open {
			display: block;
		}
	}

	&__search-form {
		position: relative;
		display: flex;
		align-items: center;
		height: 60px;

		&-field {
			padding: 0;
			padding-left: 42px;
			padding-right: 42px;
			flex-grow: 1;
			height: 60px;
			background-color: transparent;
			border: none;
			outline: transparent;
		}

		&-button {
			position: absolute;
			left: -20px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			padding: 0;
			background-color: transparent;
			border: none;
		}
	}

	&__login-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;
		margin-right: -5px;
		height: 60px;
		text-transform: uppercase;
		background-color: transparent;
		border: none;
	}

	&__slider {
		padding-top: 60px;
		background-color: $black;

		&-container {
			position: relative;
			width: 100%;
			overflow: hidden;
		}

		.swiper-wrapper {
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;
		}

		// .swiper-pagination {
		// 	padding-left: $phones-paddings;
		// 	padding-right: $phones-paddings;
		// 	top: 15px;
		// 	bottom: unset;
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: space-between;
		// }

		// .swiper-pagination-bullet {
		// 	margin: 0 !important;
		// 	width: 15px;
		// 	height: 15px;
		// 	border: 1px solid $turquoise;
		// 	background-color: transparent;
		// 	opacity: 1;
		// 	transition: background-color 0.2s;

		// 	&-active {
		// 		background-color: $turquoise;
		// 	}
		// }
	}

	&__poster-wrapper {
		position: relative;
	}

	&__poster-link {
		position: relative;
		display: block;
		min-height: 211px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0);
			z-index: 0;
			transition: background-color 0.2s;
		}

		&:active::before{
			background-color: rgba(0, 0, 0, 1);
		}
	}


	&__trailer-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		height: 80px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		border: none;
		overflow: hidden;
		border: 2px solid $turquoise;
		box-shadow: 0 0 3px 3px rgba(0, 0, 0, 1);
		border-radius: 50%;
		animation: pulse 1.5s infinite alternate;
		animation-delay: 1.5s;
		transition: background-color 0.2s;

		span {
			font-family: Robotobold, Arial, Helvetica, sans-serif;
			color: $white;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 16px;
			transition: all 0.2s;
		}

		&:active {
			animation: none;
			background-color: rgba(0, 0, 0, 1);
		}

		&:active span {
			color: $turquoise;
		}
	}
}
