.top-movies {
	position: relative;
	z-index: 1;
	background-image: url('../img/content/mm-mobile.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0 30px 35px 0 $black,
              inset 0 -35px 35px 0 $black;

  @media (min-width: $desktop) {
    min-height: 500px;
    background-image: url('../img/content/top-movies.gif');
	  background-position: center center;
  }

	&__title-wrapper {
    padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		display: flex;
		justify-content: space-between;
		align-items: center;
    margin-bottom: 50px;

    @media (min-width: $desktop) {
      padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;

      &::before {
        display: none;
      }
    }
  }

	&__link {
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__title {
		text-shadow: 0 0 9px $black;
		background-color: unset;
		box-shadow: unset;

		.main-title__stroke {
			color: $turquoise;
			-webkit-text-stroke: unset;
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		opacity: 0.6;
		z-index: 0;
	}

	&__title-wrapper {
		z-index: 1;

		&::before {
			box-shadow: 0 0 3px 3px $black;
			opacity: 0.5;
		}
	}

	&__description {
		position: relative;
		z-index: 1;
		color: $white;
		margin-bottom: 0;
		text-shadow: 0 0 15px $black;
		background-color: unset;
    box-shadow: unset;

    padding-left: $phones-paddings;
    padding-right: $phones-paddings;

    @media (min-width: $desktop) {
      padding-left: $desktops-paddings;
      padding-right: $desktops-paddings;
      width: 500px;
    }
	}
}
